# =====================
# ENV FILES
# =====================
.env
backend/.env
frontend/.env
frontend/.env.*
*.env

# =====================
# NODE
# =====================
frontend/node_modules/
frontend/dist/

# =====================
# JAVA
# =====================
backend/target/

# =====================
# IDE
# =====================
.idea/
.vscode/
.DS_Store